body {
  background-color: #F5F5F5;
}

nav {
  margin: 0px 75px 0px 75px;
  background-color:  #92b2ba; 
}
  
.nav {
  list-style-type: none;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.nav li {
  display: inline-block;
  margin-right: 100px;
  margin-left: 100px;
  color: #f4f3ef;
}


header {
  background-image: url('./images/banner\ \(1\).png');
  background-size: cover;
  height: 800px;
  margin-left: 75px;
  margin-right: 75px;
}

.headText {
  border: 1px solid black;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: end;
  right: 85px;
  top: 700px;
}

/* below didn't work */

/* header {
  background-image: url('./images/banner\ \(1\).png');
  background-repeat: no-repeat;
  background-color: var(pink);
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: 'DM sans', calibri;
  color: #92b2ba;
}

header h2 {
  background-color: white;
  padding: .3em .5em;
  color: #f0a8bb;
  text-transform: uppercase;
  font-size: .9em;
}
/* above didn't work, it stayed in the top left corner */

.product1 {
  background-image: url('./images/flower-1\ .png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product2 {
  background-image: url("./images/flower-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product3 {
  background-image: url('./images/flower-3.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product4 {
  background-image: url('./images/flower-4.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product5 {
  background-image: url('./images/flower-5.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product6 {
  background-image: url('./images/flower-6.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product7 {
  background-image: url('./images/flower-7.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product8 {
  background-image: url('./images/flower-8.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.product9 {
  background-image: url('./images/flower-9.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.footer1 {
  background-image: url('./images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.description1 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}
.description1 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

.description2 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}
.description2 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

.description3 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}
.description3 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee; 
}

.description4 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}

.description4 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

.description5 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}

.description5 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

.description6 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}

.description6 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

.description7 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}

.description7 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

.description8 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}

.description8 li{
  display: inline-block;
  border: 1px solidwhite;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

.description9 {
  list-style-type: none;
  border: 1px solidwhite;
  background-color: white;
}

.description9 li{
  display: inline-block;
  border: 1px solid white;
  padding: 2px;
  color: #777777;
  background-color: #eeeeee;
}

h4 {
  color: #92b2ba;
  display: inline-block;
}

.price {
  color: white;
  background-color: #f0a8bb;
}

.footer {
  list-style-type: none;
} 